[name="text"] {
   width: 100%;
}
.button-foot {
   .reset-btn {
      float: left;
   }
   .create-btn {
      float: right;
   }
   .devices-count {
      margin-right: 20px;
      float: right;
   }
}

.button-head {
   float: left;
}
