<H1 class="header-h1">Изменение ролей</H1>

<form class="border-content" (ngSubmit)="submit()" nz-form>
   <nz-form-item>
       <nz-form-label [nzSpan]="7" nzRequired>Название</nz-form-label>
       <nz-form-control [nzSpan]="12" nzHasFeedback>
           <input name="name" nz-input placeholder="Название"/>
       </nz-form-control>
   </nz-form-item>
   <nz-form-item>
       <nz-form-label [nzSpan]="7" nzRequired>Описание</nz-form-label>
       <nz-form-control [nzSpan]="12" nzHasFeedback>
           <textarea name="description" nz-input  placeholder="Описание" ></textarea>
       </nz-form-control>
   </nz-form-item>

   <nz-form-item>
       <nz-form-label [nzSpan]="7">Супердоступ</nz-form-label>
       <nz-form-control [nzSpan]="12" nzHasFeedback>
           <label nz-checkbox name="super_scope" >
               <small>Обеспечивает выпуск токена с доступом к любым scopes</small>
           </label>
       </nz-form-control>
   </nz-form-item>

   <nz-form-item >
       <nz-form-label [nzSpan]="7">
           Доступы (через ,)
       </nz-form-label>
       <nz-form-control [nzSpan]="12" nzHasFeedback>
           <textarea name="scopes" nz-input  placeholder="Доступы через запятую"></textarea>
       </nz-form-control>
   </nz-form-item>

   <nz-form-item>
       <nz-form-control [nzOffset]="7" [nzSpan]="12" class="button-foot">
           <button nz-button nzDanger (click)="delete()">Удалить</button>
           <button nz-button nzType="primary">Сохранить</button>
       </nz-form-control>
   </nz-form-item>
</form>